@use 'sass:math';

html {
  box-sizing: border-box;
  font-size: 100%;
}

input,
button,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  // Фикс для слайдеров
  > * {
    min-width: 0;
    min-height: 0;
  }
}
.section {
  height: 100dvh;
  background: #E4EBF5;
}
