$colors: (
  'white': #fff,
  'black': #272727
);

:root {
  /* ease */
  --ease-out: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in: cubic-bezier(0.12, 0, 0.39, 0);
  --ease-in-out: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* font */
  --font-family: 'Montserrat', sans-serif;

  /* main */
  --app-height: 100vh;
  --header-height: 100px;
  --container-width: 107.5rem;
  --container-padding: 3.125rem;
  --container-maxWidth: calc(var(--container-width) + calc(var(--container-padding) * 2));
  --container-indent: max(
    calc(var(--container-padding)),
    calc((calc(100% - var(--container-width))) / 2)
  );

  /* ui */
  --ui-index-1: 1; //Для наползающих элементов в общем потоке
  --ui-index-2: 2; //Для наползающих элементов в общем потоке
  --ui-index-3: 3; //Для масок
  --ui-index-4: 4; //Для сайдбаров
  --ui-index-5: 5; //Для модалок
  --ui-index-6: 6; //Для элементов перекрывающих все

  /* colors */
  @if $colors {
    @each $key, $value in $colors {
      --#{$key}: #{$value};
      --#{$key}--rgb: #{HexToRGB($value)};
    }
  }
}

// for adaptive value
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1720;
$containerPadding: 100;
$containerWidth: $maxWidthContainer + $containerPadding;
