@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/functions', 'abstracts/mixins', 'abstracts/variables';

// 2. Vendors
@import 'vendors/normalize', 'vendors/index';

// 3. Base stuff
@import 'base/base', 'base/fonts', 'base/typography', 'base/helpers';

// 4. Layout-related sections
@import 'layout/base-layout';

@import 'components/UI/modal';
